<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @token.amount %>
</p>

<p>
  <strong>Toks:</strong>
  <%= @token.toks %>
</p>

<%= link_to 'Edit', edit_token_path(@token) %> |
<%= link_to 'Back', tokens_path %>
