<p id="notice"><%= notice %></p>

<h1>Smartboxes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Meter type</th>
      <th>Address</th>
      <th>Phone no</th>
      <th>Meter ID</th>
      <th>Status</th>
      <th colspan="1", width="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @auto_load_devices.each do |auto_load_device| %>
      <tr>
        <td><%= auto_load_device.name %></td>
        <td><%= auto_load_device.meter_type %></td>
        <td><%= auto_load_device.address %></td>
        <td><%= auto_load_device.phone_no %></td>
        <td><%= auto_load_device.meter_id %></td>
        
        <td><%= link_to 'Show', auto_load_device %></td>
        <td><%= link_to 'Edit', edit_auto_load_device_path(auto_load_device) %></td>
        <td><%= link_to 'Destroy', auto_load_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Smartbox', new_auto_load_device_path %>
