<p id="notice"><%= notice %></p>

<h1>Viewtesters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @viewtesters.each do |viewtester| %>
      <tr>
        <td><%= viewtester.name %></td>
        <td><%= viewtester.age %></td>
        <td><%= link_to 'Show', viewtester %></td>
        <td><%= link_to 'Edit', edit_viewtester_path(viewtester) %></td>
        <td><%= link_to 'Destroy', viewtester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Viewtester', new_viewtester_path %>
